<launch>
  <arg name="map_file" default="$(find navbot_description)/maps/mymap.yaml"/>

  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <param name="min_particles" value="100"/>
    <param name="max_particles" value="2000"/>
    <param name="initial_pose_x" value="0"/>
    <param name="initial_pose_y" value="0"/>
    <param name="initial_pose_a" value="0"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>
    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="0.1"/>
    <param name="laser_max_range" value="10.0"/>
    <param name="laser_min_range" value="-1.0"/>
    <remap from="scan" to="/scan"/>
    <rosparam file="$(arg map_file)" command="load"/>
  </node>
</launch>
 
